

h1 {
	font-size: 50px;
}

h4 {
	font-size: 25px;
}

h1,
h4 {
	font-weight: 300;
}


hr {
	height: 2px;
}

h2 {
	color: #bcbbbb;
}
.container {
 	font-family: 'Lato', sans-serif;
<<<<<<< HEAD
 	color: #666;
=======
 	color: #666666;
>>>>>>> f69003555b121e0245bb89e7f86942293f5a344a
}

.logo {
	width: 100px;
	margin-top: 15px;
}

.port-img {
	cursor: pointer;
}

<<<<<<< HEAD
img {

	width:100%;
	height:20%;
   
}

p {
	text-align: center;
}
=======

>>>>>>> f69003555b121e0245bb89e7f86942293f5a344a


