

h1 {
	font-size: 50px;
}

h4 {
	font-size: 25px;
}

h1,
h4 {
	font-weight: 300;
}


hr {
	height: 2px;
}

h2 {
	color: #bcbbbb;
}
.container {
 	font-family: 'Lato', sans-serif;
 	color: #666666;
}

.logo {
	width: 100px;
	margin-top: 15px;
}

.port-img {
	cursor: pointer;
}




